:root {
    --body-color: #FFFFFF;
    --logotype-color: #4D5AE5;
    --logo-color: #2E2F42;
    --second-page-button-color: #4d5ae5;
    --second-page-button-background-color: #F4F4FD;
    --type-of-app-color: #2E2F42;
    --app-color: #434455;
    --background-color: #2E2F42;
    --customer-list-link-color: #8E8F99;
    --transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.logo {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #434455;
    background-color: var(--body-color)
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.page-nav {
    display: flex;
    align-items: center;
    column-gap: 76px;
}

.menu {
    gap: 40px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color)
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: var(--logotype-color)
}

.menu-link {
    display: block;
    position: relative;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}


/* .menu-link.current::after {
        background-color:#404bbf;
} */

.current {
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.contacts-link {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.mailto,
.contact-phone-number {
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
}

/* Main */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    color: #FFFFFF;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4D5AE5;
    color: #FFFFFF;
}

p {
    color: #434455;
}

.principles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.principles-of-work {
    display: none;
}

.features-of-work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features {
    width: calc((100% - 72px) / 4);
}

.feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4FD;
    text-align: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* .feature-item-icon {} */

/* .features ::before {
    display: block;
    content: "";
    height: 112px;
    background-color: #F4F4FD;
    ;
}

.features :nth-child(1)::before {
    width: 264px;
    height: 112px;
} */

.feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #2E2F42;
}

.strengths {
    display: flex;
    gap: 24px;
    align-items: start;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.directions {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42;
}

.job-profile {
    padding-bottom: 120px;
}

.examples {
    display: flex;
    gap: 24px;
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    gap: 24px;
    text-align: center;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42;
}

.team-members {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.member-data {
    padding: 32px 0;
}

.member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
}

.social-list {
    justify-content: center;
    gap: 24px;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: #F4F4FD;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4d5ae5;
    border-radius: 50%;
}

.direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.customers {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.our-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    gap: 24px;
}

.customer-list-link:hover,
.customer-list-link:focus {
    border-color: #404BBF;
    color: #404BBF;
}

.customer-list-icon:hover,
.customer-list-icon:focus {
    fill: #404BBF;
}

.customer-list-link {
    display: flex;
    width: 168px;
    height: 88px;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--customer-list-link-color)
}

.customer-list-icon {
    fill: currentColor;
}

/* Footer */

.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
}

.footer-container {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.footer-logo-text {
    margin-right: 120px;
}

.logotype-link {
    display: inline-block;
    margin-bottom: 16px;
}

.second-part-logo {
    color: #F4F4FD;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    color: #F4F4FD;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31d0aa;
}

.footer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4d5ae5;
    border-radius: 50%;
}

.social-list-footer {
    gap: 16px;
}

.subscribe-form-wrapper {
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.subscribe-footer-label {
    display: block;
    margin-right: 24px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-input-email {
    width: 264px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
}

.subscribe-input-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* display: flex;
align-items: center; */

.subscribe-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4D5AE5;
    color: #FFFFFF;
}

.subscribe-footer-btn:hover,
.subscribe-footer-btn:focus {
    background-color: #31d0aa;
}

.subscribe-footer-icon {
    margin-left: 16px;
    fill: #E7E9FC;
}

/* Portfolio page */

.types {
    padding: 96px 0 120px;
}

.secondary-page-text {
    display: none;
}

.secondary-page-menu {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.second-page-button:hover,
.second-page-button:focus {
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.second-page-button {
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #F4F4FD;
    color: var(--second-page-button-color);
}

.portfolio-button-text {
    font-size: 16px;
    color: #4D5AE5;
}

.portfolio-button-text:hover,
.portfolio-button-text:focus {
    color: #FFFFFF;
}

.second-page-button:hover,
.second-page-button:focus {
    background: #404BBF;
    color: #FFFFFF;
}

.second-page-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--second-page-button-color);
    background-color: var(--second-page-button-background-color);
}

.applications {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.picture-with-text {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    transform: translatey(100%);
    background-color: #4D5AE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-link:hover .overlay,
.application-link:focus .overlay {
    transform: translatey(0%);
}

.application-link:hover,
.application-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.application-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-category-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.type-of-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--type-of-app-color)
}

.app {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--app-color)
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-close-icon :hover,
.modal-close-icon :focus {
    fill: #ffffff;
} */

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contact-form-wrapper {
    display: block;
    margin-bottom: 8px;
}

.contact-form-wrapper-textarea {
    margin-bottom: 16px;
}

.contact-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input-icon {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    border:  1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-comment:focus {
    outline: none;
    border-color: #4D5AE5;
}

.contact-form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/* .contact-form-desc-wrapper:focus {
    outline: none;
    border-color: #4D5AE5;
} */

.contact-form-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

/* .contact-form-checkbox {} */

.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.contact-form-checkbox-wrapper {
    display: block;
    margin-bottom: 24px;
}

.contact-form-input:focus+.contact-form-input-icon {
    fill: #4D5AE5;
}

.contact-form-input-wrapper {
    position: relative;
    display: block;
}

.contact-form-checkbox-wrapper {
    display: flex;
    align-items: center;
}

.contact-form-checkbox {
    appearance: none;
    position: absolute;
}

.contact-form-checkmark-wrapper {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.contact-form-own-checkmark {
    
    padding: 4px 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .contact-form-checkmark-icon {
    opacity: 0;
} */

.contact-form-checkbox:checked+.contact-form-checkmark-wrapper {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
    border-color: #404bbf;
}


.contact-form-checkbox:focus+.contact-form-own-checkmark {
    outline: 1px solid #404BBF;
}

.privacy-policy {
    color: #4d5ae5;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
    background-color: #404BBF;
}

.contact-form-submit {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4D5AE5;
    color: #FFFFFF;
}